section.content-main
    section.info
        p Para sa manugbaligya, manugbakal, kag nagakinahanglan.
        p#info_logo #LaylaMoNow
        article.infocontent
            div.infocontent_block
                div.infocontent_supply
                    p SUPPLY IN BULK
                    img(src="/img/supply.png")
                    p <b>Parts,</b> may bulto nga stock ka sang ulutanon, manok, isda, panakot, groceries kag mga importante nga galimiton pareho sang face mask, alcohol kag iban pa nga gusto mo ibaligya? Intra na sa aton Facebook group kag mag post gamit ang hashtag #LaylaMoNow.
                button INTRA SA FACEBOOK GROUP
            div.infocontent_block
                div.infocontent_buy
                    p BUY IN BULK
                    img(src="/img/buy.png")
                    p <b>Op!</b> Nagapangita bala ang inyo komunidad o grupo sang bulto nga balaklan sang ulutanon, manok, isda, panakot, groceries kag mga importante nga galimiton pareho sang face mask, alcohol kag iban pa? Bisitahe ang aton Facebook page o mag istorya kay Layla sa.
                button KADTO SA FACEBOOK PAGE
            div.infocontent_block
                div.infocontent_help
                    p HELP COMMUNITIES
                    img(src="/img/help.png")
                    p <span>Boss,</span> bal-an ta nga may pagbuot ka magbulig. Kun gusto mo mag amot para makahatag sang pagkaon o mga importante nga galimiton pareho sang face mask, alcohol kag iban pa sa naga-kinahanglan. Bisitahe ang aton Facebook page o mag istorya kay Layla sa Messenger.
                button I-CHECK PAANO MAG BULIG
section.steps
    section.steps-content 
        h1 5 Simple Steps kun paano mag-dalagan ang #LaylaMoNow:

section.tagline
    section.tagline-color
    section.tagline-content
        .tagline-content__info 
            h1 “Indi mag untat produce, Indi mag panic buying, Magbinuligay!”
            p #LaylaMoNow
        img(src="/img/svg/hands.svg")
