section.header
    article.logo
        p LaylaMoNow
        .logo__buttons 
            button 
                a(href="http://") Baligya Na
            button 
                a(href="http://") Bakal NA
            button 
                a(href="http://") Bulig na
    article.content
        h1 Sa tunga sang COVID-19, ang ginapangita mo ginapangita ka man
        p #BatoIloilo
        nav.content__menu
            li 
                img(src="img/svg/arrow-up.svg")
            li Manok
            li Utan
            li Groceries
            li Alcohol
            li PPEs
            li 
                img(src="img/svg/arrow-up.svg")