@charset "UTF-8";
*,
*::after,
*::before {
  box-sizing: border-box;
}

blockquote,
body,
dd,
dl,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
}

body {
  font-family: "HelveticaNeue";
  font-weight: 400;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  height: 100%;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

@font-face {
  font-family: "Fredoka One";
  src: local("☺"), url("../fonts/Fredoka-One/FredokaOne-Regular.ttf") format("truetype"), url("../fonts/Fredoka-One/OFL.txt") format("txt");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/Fredoka-One/FredokaOne-Regular.ttf") format("truetype"), url("../fonts/Fredoka-One/OFL.txt") format("txt");
}
@font-face {
  font-family: "Nunito";
  src: local("☺"), url("../fonts/Nunito/Nunito-Black.ttf") format("truetype"), url("../fonts/Nunito/Nunito-BlackItalic.ttf") format("truetype"), url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype"), url("../fonts/Nunito/Nunito-BoldItalic.ttf") format("truetype"), url("../fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype"), url("../fonts/Nunito/Nunito-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/Nunito/Nunito-ExtraLight.ttf") format("truetype"), url("../fonts/Nunito/Nunito-ExtraLightItalic.ttf") format("truetype"), url("../fonts/Nunito/Nunito-Italic.ttf") format("truetype"), url("../fonts/Nunito/Nunito-Light.ttf") format("truetype"), url("../fonts/Nunito/Nunito-LightItalic.ttf") format("truetype"), url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype"), url("../fonts/Nunito/Nunito-SemiBold.ttf") format("truetype"), url("../fonts/Nunito/Nunito-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Nunito/OFL.txt") format("txt");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/Nunito/Nunito-Black.ttf") format("truetype"), url("../fonts/Nunito/Nunito-BlackItalic.ttf") format("truetype"), url("../fonts/Nunito/Nunito-Bold.ttf") format("truetype"), url("../fonts/Nunito/Nunito-BoldItalic.ttf") format("truetype"), url("../fonts/Nunito/Nunito-ExtraBold.ttf") format("truetype"), url("../fonts/Nunito/Nunito-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/Nunito/Nunito-ExtraLight.ttf") format("truetype"), url("../fonts/Nunito/Nunito-ExtraLightItalic.ttf") format("truetype"), url("../fonts/Nunito/Nunito-Italic.ttf") format("truetype"), url("../fonts/Nunito/Nunito-Light.ttf") format("truetype"), url("../fonts/Nunito/Nunito-LightItalic.ttf") format("truetype"), url("../fonts/Nunito/Nunito-Regular.ttf") format("truetype"), url("../fonts/Nunito/Nunito-SemiBold.ttf") format("truetype"), url("../fonts/Nunito/Nunito-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Nunito/OFL.txt") format("txt");
}
@font-face {
  font-family: "Poppins";
  src: local("☺"), url("../fonts/Poppins/Poppins-Black.ttf") format("truetype"), url("../fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype"), url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype"), url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype"), url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Light.ttf") format("truetype"), url("../fonts/Poppins/Poppins-LightItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype"), url("../fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/Poppins/Poppins-Black.ttf") format("truetype"), url("../fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype"), url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype"), url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype"), url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Light.ttf") format("truetype"), url("../fonts/Poppins/Poppins-LightItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype"), url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype"), url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype"), url("../fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Valentine Monster";
  src: local("☺"), url("../fonts/Valentine-Monster/Valentine-Monster.ttf") format("truetype"), url("../fonts/Valentine-Monster/Valentine-Monster.otf") format("otf");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  src: url("../fonts/Valentine-Monster/Valentine-Monster.ttf") format("truetype"), url("../fonts/Valentine-Monster/Valentine-Monster.otf") format("otf");
}
body {
  width: 100%;
}

.header {
  background: url("/img/woman.png");
  height: auto;
  width: 100%;
  padding: 4.46% 14.6% 20% 14.6%;
  background-size: cover;
}

.logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo p {
  font-family: "Fredoka One";
  font-size: 58px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo__buttons {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content {
  width: 50%;
  height: auto;
  color: #FFFFFF;
  margin-top: 8.4%;
}

.content h1 {
  font-style: normal;
  font-size: 52px;
}

.content p {
  margin-top: 25px;
  font-family: "Valentine Monster";
  font-size: 96px;
}

.content__menu {
  color: #FFFFFF;
  width: 353px;
  height: auto;
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins";
  list-style-type: none;
  font-size: 36px;
  line-height: 55px;
  padding-bottom: 8px;
}

.content__menu li:nth-child(2), .content__menu li:nth-child(6) {
  opacity: 0.4;
}

.content__menu li:nth-child(3), .content__menu li:nth-child(5) {
  opacity: 0.75;
}

.content__menu li:nth-child(4) {
  background-image: url("/img/svg/blue-background-button.svg");
}

.logo__buttons button:nth-child(1) {
  border-radius: 20px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1.45px;
  margin-left: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 9px 32px;
  background-color: #FFCA4A;
}

.logo__buttons button:nth-child(2) {
  border-radius: 20px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1.45px;
  margin-left: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 9px 32px;
  background-color: #10D2B8;
}

.logo__buttons button:nth-child(3) {
  border-radius: 20px;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  letter-spacing: 1.45px;
  margin-left: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 9px 32px;
  background-color: #FF9376;
}/*# sourceMappingURL=main.css.map */